@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Ibarra Real Nova', serif;
  background-color: #f9f2f2;
  font-size: 1.3rem;
}

@mixin customShadow($rSize, $dSize) {
  border: 0.2px solid rgba(0, 0, 0, 0.6);
  box-shadow: $rSize $dSize 0 0 rgba(0, 0, 0, 0.2);
}

@mixin setDisplayDimension($width, $margin) {
  width: $width;
  margin: $margin auto;
}


// header
header {
  display: grid;
  padding: 2rem 0;
  margin: 2rem auto;

  @include setDisplayDimension(90vw, 0);
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Narrow';

    div{
      @include customShadow(0.2rem, 0.2rem);
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        padding: 1.8rem 1rem;
      }
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



// section
section.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  min-width: 30rem;

  @include setDisplayDimension(90vw, 0);

    article {
      @include customShadow(0.3rem, 0.3rem);

      img {
        width: 100%;
        height: auto;
      }
    }
}

@media (min-width: 768px) {
  header {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;

    .logo {
      justify-self: start;
    }

    .search {
      justify-self: end;
    }
  }
}