*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: rgba(255, 255, 255, 0.8);
}

#container{
    width: 90%;
    border: 2px solid rgb(128, 0, 117);
    margin: 1.5rem auto;
}

#heading{
    width: 100%;
    height: auto;
    background-color: rgb(100, 19, 19);
    text-align: center;
}

#heading ul{
    display: flex;
    list-style: none;
    margin-top: 1.7rem;
    padding-left: 20px;
}

#heading li{
    padding: 0 0.5rem 0.5rem 0.5rem;
}
 
#heading li a{
    background-color: rgb(60, 236, 16);
}

#heading li a:hover{
    background-color: rgb(24, 191, 197)
}

#main{
    width: 100%;
    height: auto;
    background-color: rgb(206, 45, 45);
    display: flex;
}

aside{
    width: 20%;
    height: auto;
    background-color: rgb(206, 45, 45);
    text-align: center;
}

#heading ul{
    display: flex;
    list-style: none;
    margin-top: 1.7rem;
    padding-left: 20px;
}

aside li{
    padding: 0 0.5rem 0.5rem 0.5rem;
}
 
aside li a{
    background-color: rgb(60, 236, 16);
}

aside li a:hover{
    background-color: rgb(24, 191, 197)
}

#section{
    width: 100%;
    height: auto;
    padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: rgb(154,56,83);
}

#footer{
    width: 100%;
    height: 7rem;
    background-color: rgb(221,175,48);
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }