* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.navbarShadow {
  box-shadow: 0 0.1rem 0.8rem #e8e8e8;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  font-family: "Google Sans", "Roboto", "Arial", sans-serif;
  background: #fff;
  color: #5f6368;
  line-height: 1;
  margin: 0 auto;
  font-size: 10px;
}

.navbar {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 3.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(109, 103, 103, 0.15);
  z-index: 10;
  .navbar-container {
    margin: 0 auto;
    width: 80vw;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 0 1rem 1rem;

    .navbar--left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

    .navbar--right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

    .posters__btn {
      font-size: 5rem;
    }
  }
}

.carousel {
  display: flex;
  position: relative;
  background-color: #f8f9fa;
  top: 56px;
  margin: 0 auto;
  max-width: 1392px;
  height: 575px;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;

  .carousel__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    div {
      margin: 0 auto;
    }
  }

  .carousel__img {
    position: relative;
    margin: auto 0;
  }
}

.showcase {
  position: relative;
  top: 56px;
  overflow: scroll;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.9rem;
    padding: 1rem;

    li {
      div {
        font-size: 0.9rem;
        text-align: center;
        padding: 0.5rem;
      }
    }
  }
}

.posters {
  position: relative;
  top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3c4043;
  -moz-osx-font-smoothing: grayscale;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .p1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 250px;
    .posters__slogan {
      max-width: 566px;
      text-align: center;
    }

    .posters__text {
      position: relative;
      left: 120px;
    }
  }

  .p2 {
    position: relative;
    top: -30px;

    .posters__img {
      position: relative;
      top: -30px;
    }

    .posters__text {
      position: relative;
      top: 300px;
      left: -280px;
      z-index: 3;

      .posters__slogan {
        max-width: 524px;
        text-align: center;
      }
    }

    .posters__img {
      position: relative;
      margin: 0 auto;
      top: -70px;
      left: 50px;
    }
  }

  .p3 {
    .posters__mp4 {
      display: flex;
      justify-content: space-around;
    }
  }

  .p4 {
    position: relative;
    top: -90px;

    .posters__img {
      position: relative;
      top: -100px;
      margin: 0 auto;
    }

    .posters__text {
      position: relative;
      top: 350px;
      left: -400px;
      z-index: 3;

      .posters__slogan {
        max-width: 524px;
        text-align: center;
      }
    }

    .posters__img {
      position: relative;
      margin: 0 auto;
    }
  }

  .p5 {
    position: relative;
    top: -150px;

    .posters__img {
      margin: 0 auto;
    }

    .posters__text {
      position: relative;
      top: -400px;
      left: 350px;

      .posters__slogan {
        max-width: 524px;
        text-align: center;
      }
    }
  }

  .p6 {
    position: relative;
    background-color: #f8f9fa;
    width: 100vw;
    height: 415px;
    top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;

    .posters__slogan {
      max-width: 580px;
      text-align: center;
    }

    .posters__foot {
      gap: 2rem;
    }
  }
}

.footer {
  position: relative;
  top: -220px;

  &__top {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 75vw;
    gap: 1rem;
    font-size: 0.8rem;
  }

  &__mid {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    font-size: 0.9rem;
    gap: 1;
    right: 0;
    gap: 1rem;
  }

  &__bottom {
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
