body{
    font-family:'Times New Roman', Times, serif;
}
.container_u {
    background-color:blueviolet;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 650;
    text-transform: uppercase;
}

.container_b {
    background-color:firebrick;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 650;
    text-transform: uppercase;
}

#box1{
    background-color:goldenrod;
    text-align: center;
    width: 25%;
    padding-bottom: 4rem;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 1.5px;
}

#box2{
    background-color:goldenrod;
    text-align: center;
    width: 75%;
    padding-bottom: 4rem;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1.5px;
    margin-right: 3
}

#box3{
    background-color:deepskyblue;
    text-align: center;
    width: 25%;
    padding-bottom: 0em;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 1.5px;
}

#box4{
    background-color:deepskyblue;
    text-align: center;
    width: 75%;
    padding-bottom: 0rem;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1.5px;
    margin-right: 3px;
}

nav {
    background-color:lightpink;
    padding-bottom: 28rem;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

section {
    text-align: left;
    background-color:bisque;
    padding-bottom: 1rem;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

#display {
    background-color:aliceblue;
    padding-bottom: 15rem;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 85px;
    margin-right: 85px;
}

#block {
    background-color:cornsilk;
    padding-top: 15px;
    margin-left: 70px;
    margin-right: 70px;
}

img {
    padding-top: 25px;
    padding-bottom: 30px;
    max-width: 15%;
    max-height: 15%;
    align-self: center;
}

footer {
    background-color:orange;
    padding-bottom: 20px;
}

